<ion-header>
    <ion-toolbar>

      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
<ion-list inset>
  <ul *ngFor="let data of httpdata" (click)="onSelect(data)">
    <ion-card>
      <ion-card-content>
        <img src="{{data.Image}}">
          <ion-card-title>{{ data.Titre }}</ion-card-title>
          <p>{{ data.Description }}</p >
      </ion-card-content>
    </ion-card>
    </ul>
  </ion-list>
</ion-content>
