<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page">

    <ion-card class="qui">
      <img src="../../assets/imgs/ki_suis_je.jpg"/>
      <div class="card-title">Qui suis-je ?</div>
    </ion-card>

    <ion-card class="cursus">
      <img src="../../assets/imgs/ki_suis_je.jpg"/>
      <div class="card-title">Cursus Scolaire</div>
    </ion-card>

    <ion-card class="competences">
      <img src="../../assets/imgs/ki_suis_je.jpg"/>
      <div class="card-title">Compétences</div>
    </ion-card>

    <ion-card class="passions">
      <img src="../../assets/imgs/ki_suis_je.jpg"/>
      <div class="card-title">Passions</div>
    </ion-card>

</ion-content>
